<!-- views/404.ejs -->
<%- include('partials/header') %>

<h2>404: Page Not Found</h2>
<p>Sorry, the page you're looking for does not exist.</p>
<a href="<%= url('home') %>">Go Back Home</a>

<%- include('partials/footer') %>
